.header__logo {
  display: block;
  width: 142px;
  height: 33px;
  /* padding-left: 19px; */

  color: #fff;
}

@media screen and (max-width: 725px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
}

@media screen and (max-width: 640px) {
  .header__logo {
    padding-left: 10px;

  }
}

/* @media screen and (max-width: 640px) {
  .header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
} */
