.header__container-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 19px; */
}

@media screen and (max-width: 640px) {
  .header__container-link {
    margin-left: -700px;
    width: 100%;
    height: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    padding-right: 30px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    transition: height 0.5s ease-out;
  }
}
