.header__button-burger {
  display: none;
  background-image: url(../../../images/burger-icon.png);
  width: 24px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;

}

@media screen and (max-width: 640px) {
  .header__button-burger {
    display: block;
    order: 1;
    transition: opacity 0.2s,  background-image .3s;
    margin-right: 10px;
  }

  .header__button-burger:hover {
    opacity: 0.6;
  }
}
