.profile__avatar-hover {
  visibility: hidden;
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(../../../images/bigpencil.svg);
  background-position: center;
  background-color: transparent;
  top: 50px;
  left: 50px;
  z-index: 0;
}

.profile__avatar:hover + .profile__avatar-hover  {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}


/* @media screen and (max-width: 640px) {
  .profile__avatar-hover {
    left: 230px;
  }
}

*/