.profile__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
    .profile__wrap {
      flex-direction: column;

      margin-bottom: 36px;
    }
  }
