.header__container-burger {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding-right: 19px; */
  align-items: center;
  /* padding: 45px 19px 0; */
  /* padding-left: 19px;
  padding-top: 45px; */

}

/* @media screen and (max-width: 725px) {
  .header__container-burger {
    padding-left: 30px;
  }
} */

/* @media screen and (max-width: 640px) {
  .header__container-burger {
     padding-left: 30px;
    padding-top: 28px;
  }
} */

@media screen and (max-width: 640px) {
  .header__container-burger {
     /* padding-right: 30px; */
  }}

  @media screen and (max-width: 640px) {
    .header__container-burger_open {
       padding-top: 30px;
    }}